<div class="container-fluid">
<%=render partial:'home/navbar' %>
<%=render partial:'home/banner' %>
   <div class="container">
   <div style="margin-top:10px; text-align:right;">
         <h3 class="bigex3">내글 보기</h3>
      <!--게시판가기-->
   <%= link_to '게시판 가기', boards_path ,:class => "btn btn-default", :style => "margin-bottom:0;margin-top:5px;" %>
   <hr>
      <!--내글 내용-->
   <% @boards = Board.all %>
   <% @boards.each do|board| %>
   <% if board.user.id == current_user.id %>
      
      
      <div class="board-pan" style="margin-bottom:20px">
      <div class="media col-md-offset-4 col-md-4" style = "margin-top: 10px;">
         <br>
            <div class="board-content" >
               <span style="font-size: 15px;
               font-weight: bold;
               font-family: helvetica;
               margin-bottom: 5px;
               color:rgb(74, 74, 74);
               float:left; color:#ee4065;">
                  제목 : <%= board.title %> </span>
                  <strong><%= board.created_at.strftime("%m월%d일 %H:%M") %></strong>
                  
               <p style="text-align:center;">
		<% unless board.board_image.present? %>
                         <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/no_image.png" class="image_board", style="width: 100%; height: 300px;">
                <% else %>
                         <%= image_tag("#{board.board_image}", class:"image_board", style:"width: 100%; height: 300px;") %>
                 <% end %>

		</p>
 
               <div class="pull-right">
          <%= link_to '글보기', board, :class => "btn btn-default"%>
               <% if can? :update, board %>
          <%= link_to '수정', edit_board_path(board), :class => "btn btn-default" %>
               <% end %>
               <% if can? :delete, board %>
          <%= link_to '삭제', board,:class => "btn btn-default", method: :delete, data: { confirm: '진심??지우면 다시 살릴 수 없습니다!' } %>
               <% end %>
               </div>
               <br>
            </div>
            <br>
      </div>
      </div>

          <% end %>
         <% end %>
   </div>
   </div>
   </div>
	<br> <br> <br> <br> <br> <br>
	 <br> <br> <br>
<style>

<style>
.image_user{
   float: none;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  #circle
  -webkit-clip-path: circle(33px at 50% 50%);
  clip-path: circle(33px at 50% 50%);
}
}
.board-content p{
   float:right;
}
.board-info{
   flex:1;
}
.board-pan{
   background-color: rgba(255, 219, 220,0.5);
   border-radius: 7px;
}
hr{
   background-color: rgb(175, 170, 170);; height: 1px; border: 0;
}
.board-info p {
   font-size: 15px;
   font-weight: bold;
   font-family: helvetica;
   margin-bottom: 5px;
   color:rgb(74, 74, 74);
}

.btn.btn-default{
   background-color: #ee4065;
   border-color: #ee4065;
   color:white;
   text-align:right;
}

strong{
   font-weight: normal;
   color:rgb(74, 74, 74);
   float:right;
   font-size:12px;
   vertical-align: top;
   margin-bottom:10px;
}
form.right{
  margin-top: 15px;
}
.bigex3{
  margin-top:0px;
  padding-top:20px;
  font-weight:bold;
  text-align:center;
  color:#ee4065;
}
.smallex3{
  margin-top:3px;
  margin-bottom:3px;
  font-size:12px;
  text-align:center;
  color:gray;
}
.image_user{
   float: none;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  #circle
  -webkit-clip-path: circle(33px at 50% 50%);
  clip-path: circle(33px at 50% 50%);
}

</style>
