  <%= render partial:"home/navbar" %>
  <%= render partial:"home/banner" %>
  <br>
<div class="titlewrap">
<h3>완전 소중한 꿀팁</h3>
<p class="smexp">(이 사이트의 핵심정보에요 ^0^)</p>
</div>
<br>
<div class="container">
<p class="honey">화장실도 스마트하게 찾아아죠 ><</p>
<br>
<div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("hh1.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    <div class="item">
      <%= image_tag("hh2.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    <div class="item">
      <%= image_tag("hh3.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    
    <div class="item">
      <%= image_tag("hh4.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    
    <div class="item">
      <%= image_tag("hh5.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    <div class="item">
      <%= image_tag("hh6.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>
    
    <div class="item">
      <%= image_tag("hh7.jpg",:class => "imgstyle", :alt => "sujin's") %>
    </div>    
    
  </div>
  <!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel2" data-slide="prev" style="background-color : transparent;" >
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="background-color : transparent;"href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<br>
<br>

<div class="container">
<p class="honey">밤새고 갈데 없으면 이리로!</p>
<br>
<div id="myCarousel3" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
   	<div class="item active">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca1.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca2.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca3.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca4.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca5.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca6.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca7.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca8.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca9.jpg" class="imgstyle">
	</div>
	<div class="item">
		<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ca10.jpg" class="imgstyle">
	</div> 
  </div>
   <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel3" data-slide="prev" style="background-color : transparent;" > 
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="background-color : transparent;"href="#myCarousel3" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


      <div class="titlewrap">
    <h3 class="titlestyler2">홍대축제 주점 배치도</h3>
    <p class="smexp">(홍대는 주점이 촘촘해 잘 보고 가야해요!)</p>
    </div>
    <br>
    <div class="col-md-offset-4 col-md-4">
    <%= image_tag "jujum.jpg", { :class => 'image_map', 'data-toggle' => 'modal', 'data-target' => '#myModal' } %>
    <p class="smexp">출처: 홍익대학교 총학생회</p>
    </div>
    
<div class="titlewrap">
  <h3>라인업을 모르면 간첩</h3>
  <p class="smexp">(홍대생은 홍대존까지 챙기세요 ^0^)</p>
</div>
<br>
<p class="honey">전체 라인업!</p>
<br>
   <div class="col-md-offset-4 col-md-4">
  <%= image_tag "lastlineup.jpg", { :class => 'image_map', 'data-toggle' => 'modal', 'data-target' => '#myModal' } %>
</div>   
<p class="smexp">출처: 홍익대학교 총학생회</p>
<br>

<div class="container">
<p class="honey">누가 오는지 자세히 볼까요~~?</p>
<br>
<div id="myCarousel4" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin1.png" class="imgstyle">
    </div>
    <div class="item">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin2.png" class="imgstyle">
    </div>
     <div class="item">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin3.png" class="imgstyle">
    </div>
    <div class="item">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin4.png" class="imgstyle">
    </div>
    <div class="item">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin5.png" class="imgstyle">
    </div>
    <div class="item">
      <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/lin6.png" class="imgstyle">
    </div>
  </div>
  <!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel4" data-slide="prev" style="background-color : transparent;" >
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="background-color : transparent;"href="#myCarousel4" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br>
<br>
<style>
h3{
    color:#ee4065;
    font-size:25px;
    text-align:center;
    padding-top:20px;
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
}
.image_map{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		margin-bottom:30px;
}
.sojubar_image{
		width: 100%;
		height: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
}
.smexp{
  font-size:12px;
  text-align:center; 
  padding-bottom:10px;
}
#myCarousel2 .carousel-inner{
  margin-bottom:30px;
  width:100%;
}
#myCarousel3 .carousel-inner{
  margin-bottom:30px;
  width:100%;
}
#myCarousel4 .carousel-inner{
  margin-bottom:30px;
  width:100%;
}
.titlewrap{
  background-color:#fcf4f4;
}
.titlestyler2{
  padding-bottom:3px;
}
.honey{
  font-size:19px;
  font-weight:bold;
  color:#ee4065;
  text-align:center;
}
</style>
